.content-container {
    display: grid;
    grid-template-columns: 75% 25%;

    .form {
        grid-column: 1 / 1;
    }

    .img-dog {
        grid-column: 2 / 2;
        display: block;
        max-width: 100%;
    }
    border: 1px solid red;
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }
}

